
body {
    padding-top: 150px;
    background-color:#1DB954;
    text-align: center;
    color: #FFFFFF;
    height:100%;
}

.sub {
    font-weight: 300;
    font-size: 24px;
    font-style: italic;
}

.landing-title{
    font-weight: 800;
    font-size: 128px;
    font-style: italic;
}

.form-control{
    width: 70%;
}
