
body {
    padding-top: 150px;
    background-color:#1DB954;
    text-align: center;
    color: #FFFFFF;
    height:100%;
}

.sub {
    font-weight: 300;
    font-size: 24px;
    font-style: italic;
}

.landing-title{
    font-weight: 800;
    font-size: 128px;
    font-style: italic;
}

.results{
    font-weight: 800;
    font-size: 96px;
    font-style: italic;
}

.album{
    color:white;
}

.form-control{
    width: 70%;
}

@media screen and (max-width: 600px){
    .landing-title{
        font-size: 72px;
    }
}


#results-table{
    background-color: rgba(255,255,255,.33);
    width: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
}
